body {
  background-color: #fffaf3;
  letter-spacing: 0.06rem;
}

.center {
  text-align: center;
}

.announcement-bar {
  background-color: #def1e0;
  font-style: oblique;
  font-weight: bold;
}

.announcement-bar-message {
  font-family: sans-serif;
  padding: 0.8rem 0;
  margin: 0;
  letter-spacing: 0.1rem;
  font-size: small;
  color: #917d81;
}

.header-container {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 150px;
}

.right-side-icons {
  position: absolute;
  right: 70px;
  display: flex;
  align-items: center;
}

.right-side-icons li img {
  transition: all 0.3s ease;
  width: 25px;
  height: 25px;
}

.right-side-icons li{
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
  position: relative;
}

.right-side-icons li:hover img{
  width: 30px;
  height: 30px;
}

.header-text {
  text-align: center;
}

.page-title,
.welcome-message {
  font-family: "Akaya Telivigala";
  padding: 0.6rem 0;
  margin: 0;
  letter-spacing: 0.1rem;
  color: #c27873;
}

.welcome-message {
  font-style: italic;
  font-size: 45px;
  font-weight: 500;
}

.page-title {
  font-size: 30px;
}

.introduction-text {
  font-family: sans-serif;
  padding: 0.1rem 0;
  margin: 0;
  letter-spacing: 0.1rem;
  font-size: 18px;
  color: #917d81;
  text-align: center;
}

.header-navigation-menu {
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  font-size: 18px;
  color: #c27873;
  padding: 0.6rem 0;
  text-align: center;
  font-weight: bold;
}

.menu-bar {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-bar li {
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
  position: relative;
}

.menu-bar li:last-child {
  margin-right: 0;
}

.menu-bar li:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #c27873;
}