:root{
  --body-bg: #f7ebdb;
  --secondary-bg: #def1e0;
  --primary-color: #c27873;
  --secondary-color: #c47e79;
  --secondary-dark-color: #917d81;
  --input-bg: #fffaf3;
}


body {
  background-color: var(--body-bg);
  letter-spacing: 0.06rem;
}

li a{
  text-decoration: none;
}

.main-text-font{
  font-family: "Akaya Telivigala";
}
.center {
  text-align: center;
}

.announcement-bar {
  background-color: var(--secondary-bg);
  font-style: oblique;
  font-weight: bold;
}

.announcement-bar-message {
  font-family: sans-serif;
  padding: 0.8rem 0;
  margin: 0;
  letter-spacing: 0.1rem;
  font-size: small;
  color: var(--secondary-dark-color);
}

.header-container {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 768px){
  .header-container{
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 5px;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 150px;
}

@media only screen and (max-width: 768px){
  .logo {
    max-width: 100px;
  }
}

.right-side-icons {
  position: absolute;
  right: 70px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .right-side-icons {
    right: 10px;
  }
}
.right-side-icons li img {
  transition: all 0.3s ease;
  width: 25px;
  height: 25px;
}

.right-side-icons li{
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .right-side-icons li{
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    position: relative;
  }
}
.right-side-icons li:hover img{
  width: 30px;
  height: 30px;
}

.header-text {
  text-align: center;
}

.page-title,
.welcome-message {
  padding: 0.6rem 0;
  margin: 0;
  letter-spacing: 0.1rem;
  color: var(--primary-color);
}

.welcome-message {
  font-style: italic;
  font-size: 45px;
  font-weight: 500;
}

.page-title {
  font-size: 30px;
}

.introduction-text {
  font-family: sans-serif;
  padding: 0.1rem 0;
  margin: 0;
  letter-spacing: 0.1rem;
  font-size: 18px;
  color: var(--secondary-dark-color);
  text-align: center;
}

.header-navigation-menu {
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  font-size: 18px;
  color: var(--primary-color);
  padding: 0.6rem 0;
  text-align: center;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .menu-bar {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
  .menu-toggle label {
    cursor: pointer;
  }
  .menu-toggle input {
    display: none;
  }
  .menu-toggle input:checked ~ .menu-bar {
    display: block;
  }
}

.menu-bar li {
  display: inline-block;
  margin-right: 20px;
  padding: 12px;
  position: relative;
}

.menu-bar li:last-child {
  margin-right: 0;
}


.menu-bar a{
  color: var(--primary-color);
}
.menu-bar li:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
}

.login-text{
  color: var(--secondary-dark-color);
  text-align: center;
  font-size: 45px;
  padding: 15px;
}

.user-login-section{
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 36px;
  max-width: 33rem;
}

.field{
  padding: 20px;
}

.terms-and-condition{
  padding: 20px;
}

.terms-and-condition a{
  color: var(--primary-color);
}

.terms-and-condition p{
  color: var(--primary-color);
  font-weight: bold;
}

input[type=text], input[type=password] {
  font-family: sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--secondary-dark-color);
  border-radius: 8px;
  box-sizing: border-box;
  background-color: var(--input-bg);
  font-size: 16px;
}

.submit-button{
  background-color: var(--secondary-color);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-button a{
  color: white;
  text-decoration: none;
}

.submit-button:hover{
  background-color: var(--secondary-color);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 17px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.password-reset{
  font-family: sans-serif;
  font-size: 16px;
  color: var(--secondary-dark-color);
  padding: 15px;
  display: inline-block; 
  margin-left: 10px;
}

.register-page-link a{
  color: var(--secondary-dark-color);
  font-size: 20px;
  font-weight: bold;
}
.link-align{
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .product-list {
    justify-content: space-around; 
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.item {
  margin: 40px;
  text-align: center;
}

.item img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 8px;
}

.caption {
  margin-top: 10px;
  font-size: 20px;
  text-align: left;
  color: var(--secondary-color);
  position: relative;
  left: 30px;
}

.caption .icon{
  position: absolute;
  top: 0;
  left: -25px;
}


.caption .icon img{
  width: 20px;
  height: auto;
  transition: transform 0.3s ease; 
}

@media only screen and (max-width: 768px) {
  .caption .icon img{
    width: 15px;
    height: auto;
    transition: transform 0.3s ease; 
  }

}

.caption .icon:hover img {
  transform: scale(1.2); 
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 15px 0; 
  }
}

.footer{
  background-color: var(--secondary-bg);
  padding: 20px 0;
  text-align: center;
}

.footer-content{
  padding: 0.6rem 0;
  margin: 0;
  letter-spacing: 0.1rem;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.login-page-link a{
  font-family: sans-serif;
  font-size: 18px;
  color: var(--secondary-dark-color);
  padding: 15px;
}

.login-page-link p{
  color: var(--secondary-dark-color);
  font-size: 18px;
}


.mascot-container{
  position: relative;
  display: inline-block;
}
.mascot-message { 
  position: absolute;
  bottom: 40px;
  left: 100px;
  left: calc(100%+10px);
  transform: translateY(-50%);
  background-color: var(--secondary-bg);
  color: var(--primary-color);
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; 
}

.mascot-container:hover .mascot-message{
  opacity: 1;
}


#mascot {
  position:absolute;  
  display:none;
  bottom:0;
  left:0;
  width: 80px;
  height: 80px;
  background-size: contain;
  position: fixed;
  background-repeat: no-repeat;
  bottom: 30px;
  left: 10px;
  z-index: 1000;
  animation: bounce 2s ease infinite; 
  transition: transform 0.3s ease;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 768px) {
  .mascot-message {
    left: 10px; 
    bottom: 90px; 
  }

  #mascot {
    width: 60px; 
    height: 60px; 
    bottom: 20px;
  }
}